[user]
	name = Ted Hudek
	email = tedhudek@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
[color "status"]
	changed = cyan normal bold
	untracked = cyan normal bold
[core]
	excludesfile = .\\.gitignore_global
	editor = code --wait
	commitGraph = true
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
	prompt = false
[color]
	interactive = false

[color "diff"]
	old = cyan normal bold
[color "branch"]
	remote = cyan normal bold
[color "branch"]
  current = yellow bold
[color "branch"]
    upstream = yellow blue

[credential]
	helper = manager
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[mergetool]
	keepBackup = false
	prompt = false
[alias]
	ls = log --pretty='%C(bold yellow)%h%C(bold green) %d %Creset%s%C(bold cyan) [%ae]' --decorate
    ll = log --pretty='%C(bold yellow)%h%C(bold green)%d %Creset%s%C(bold cyan) [%ae]' --decorate --numstat
	ld = log --pretty='%C(bold yellow)%h%C(bold yellow) %ad %C(bold green) %d %Creset%s%C(bold cyan) [%ae]' --decorate --date=default-local
	diffdir = difftool --dir-diff --no-prompt
	d = diff
	ds = diff --stat
	dc = diff --cached
	new = log master.. --reverse
	rbc = rebase --continue
	co = checkout
	cob = checkout -b
	c = commit -am
	f = fetch --all
	conflicts = diff --name-only --diff-filter=U
	p = push
	st = status
	mgl = "!git co live" && "git merge origin/live" && "git merge master" && "git push" && "git co master"
	lrm = log --pretty='%C(bold yellow)%h%C(bold yellow) %ad %C(bold green) %d %Creset%s%C(bold cyan) [%ae]' --decorate --date=default-local --left-only master...gh-public/staging
	lrs = log --pretty='%C(bold yellow)%h%C(bold yellow) %ad %C(bold green) %d %Creset%s%C(bold cyan) [%ae]' --decorate --date=default-local --right-only master...gh-public/staging
	mu = merge '@{u}'
	mx = "!git merge gh-public/staging" && "git push gh-public master:staging"
	lg = log --oneline --graph
[fetch]
	prune = true
[winUpdater]
	recentlySeenVersion = 2.19.1.windows.1
[gc]
	writeCommitGraph = true
