[user]
	name = Ted Hudek
	email = tedhudek@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = current
[color "status"]
	changed = cyan normal bold
	untracked = cyan normal bold
[core]
	excludesfile = .\\.gitignore_global
	editor = code
[diff]
	tool = bc3
[difftool "bc3"]
	path = c:/Program Files/Beyond Compare 4/BCompare.exe
	cmd = \"c:\\program files\\beyond compare 4\\bcompare.exe\" \"$LOCAL\" \"$REMOTE\"
	prompt = false
[color]
	interactive = false

[color "diff"]
	old = cyan normal bold
[color "branch"]
	remote = cyan normal bold
[color "branch"]
  current = yellow bold
[color "branch"]
    upstream = yellow blue

[credential]
	helper = manager
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[mergetool]
	keepBackup = false
	prompt = false
[alias]
	ls = log --pretty='%C(bold yellow)%h%C(bold green) %d %Creset%s%C(bold cyan) [%cn]' --decorate
    ll = log --pretty='%C(bold yellow)%h%C(bold green)%d %Creset%s%C(bold cyan) [%cn]' --decorate --numstat
	lds = log --pretty='%C(bold yellow)%h%C(bold yellow) %ad %C(bold green) %d %Creset%s%C(bold cyan) [%cn]' --decorate --date=short
	ld = log --pretty='%C(bold yellow)%h%C(bold yellow) %ad %C(bold green) %d %Creset%s%C(bold cyan) [%cn]' --decorate --date=relative
	diffdir = difftool --dir-diff --tool=bc3 --no-prompt
	d = diff
	ds = diff --stat
	dc = diff --cached
	new = log master.. --reverse
	rbc = rebase --continue
	co = checkout
	cob = checkout -b
	st = status
	mgl = "!git co live" && "git merge origin/live" && "git merge master" && "git push" && "git co master"
	pg = push gh-public master:staging
	up = pull --all --ff-only
	rl = rev-list --left-right --count master...gh-public/staging
	mu = merge '@{u}'
[fetch]
	prune = true
